{
  "extends": "happiness",
  "globals": {
    "XMLHttpRequest": false,
    "requestAnimationFrame": false,
    "Blob": false,
    "URL": false,
    "alert": false,
    "btoa": false,
    "Worker": false,
    "Image": false
  },
  "rules": {
    "no-lone-blocks": "off"
  }
}
