.draggable-overlay {
    display: none;
    position: absolute;
    z-index: 1002;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

.draggable-overlay-header {
    padding: 10px;
    cursor: move;
    z-index: 1001;
    background-color: #2196F3;
    color: #fff;
}
