.draggable-overlay {
    display: none;
    position: absolute;
    z-index: 1002;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    opacity: 0.5;
    transition-property: opacity;
    transition-duration: 0.25s;
}

.draggable-overlay:hover {
    opacity: 1.0;
    transition-property: opacity;
    transition-duration: 0.25s;
}

.draggable-overlay-header {
    padding: 10px;
    cursor: move;
    z-index: 1001;
    background-color: #2196F3;
    color: #fff;
}

.disable-calibration-panel {
    background-color: #ff0000;
    color: #ffffff;
}

.calibration-value {
    font-weight: bold;
}

.calibration-original {
    width: 50px;
    background: none;
    border: none;
}

.calibration-setpoint {
    width: 50px;
}

.calibration-step {
    width: 50px;
}

table, th, td {
    border: 1px solid black
}