#loading_overlay, #annotationScreen {
    position: fixed; /* Sit on top of the page content */
    display: table; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
    pointer-events: none
}

.loading_text {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  color: #FFFFFF;
  display: none;
}

#loading-bar {
  margin: auto;
  width: 50%;
  height: 50%;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  text-shadow: none;
  display: table-cell;
  vertical-align: middle;
}

#annotation-label {
 margin: auto;
 width: 50%;
 height: 50%;
 font-family: 'Open Sans', sans-serif;
 color: #FFFFFF;
 text-shadow: none;
 display: table-cell;
 vertical-align: middle;
 text-align: center;
}
